<section id="homepage">
	<nav id="homepage-navigation">
		<div class="navbar-header">
			<button type="button" class="collapsed" data-toggle="collapse" data-target="#navbar-collapse-home">
				<span class="sr-only">Toggle navigation</span>
				<%= icon('navicon') %>
			</button>
		</div><!-- /navbar-header-->

		<div class="collapse" id="navbar-collapse-home">
			<%= render 'layouts/nav' %>
		</div><!-- /navbar-collapse-home-->
	</nav><!-- /homepage-navigation-->

	<h1>Welcome Yo</h1>
	<p>Lugnut</p>
</section><!-- /homepage-->