<div class="navbar-header">
	<button type="button" class="collapsed" data-toggle="collapse" data-target="#navbar-collapse-home">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>

<div class="collapse" id="navbar-collapse-home">
	<%= render 'layouts/nav' %>
</div>

<h1>Welcome Yo</h1>
<p>Lugnut</p>