<div class="container-fluid" id="content-main">
	<div class="row-fluid">
		<div class="container">	
			<div class="row-fluid clearfix">
				<div class="col-xs-12">
					<h1>About Us</h1>
					<p>Cras mattis sit amet mi sit amet varius. Donec tincidunt lectus justo, ut maximus metus lobortis quis. Duis ipsum eros, interdum eu ultricies in, euismod ut metus. Mauris lobortis ullamcorper erat at molestie. Aliquam eget erat congue, eleifend nunc vel, tempor nulla. Nam sit amet felis urna. In non ex et urna faucibus suscipit at quis dui. Donec in hendrerit nisl. </p>

					<p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla ac turpis a enim euismod scelerisque eu at tellus. Nulla iaculis est nulla, et commodo eros venenatis a. Integer pharetra sem vitae porttitor rutrum. Mauris pulvinar urna vel felis fermentum, vel tempor eros congue. Etiam consectetur tempus lacus, quis tristique erat fermentum nec. <a href="/">In hac habitasse platea dictumst</a>.</p>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /row -->
</div><!-- /content-main -->

<div class="container-fluid" id="x-marketing">
	<div class="row-fluid">
		<div class="container">
			<div class="row-fluid clearfix">
				<div class="col-xs-12 col-sm-5">
					<%= (image_tag('img-x-marketing.jpg', alt: 'Installation Experts')) %>
				</div><!-- /col-sm-5 -->
				<div class="col-xs-12 col-sm-6">
					<h2>Our Installation Experts</h2>
					<p>Pellentesque vel arcu ac massa sagittis vehicula id a lectus. Mauris ornare, mi sit amet auctor mattis, sapien metus lobortis enim, vel pretium lacus erat ut dolor. Vivamus ut maximus ante. Proin fermentum, leo id malesuada vestibulum, eros velit eleifend ligula, at aliquam mauris diam eu sapien. Vivamus commodo velit at neque fringilla, vel vehicula purus suscipit. Integer sagittis enim ut tortor faucibus, id tincidunt mi malesuada. </p>
					<a href="/" class="cta">Schedule today <%= icon('play') %></a>
				</div><!-- /col-sm-6 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /row -->
</div><!-- /x-marketing -->
