//MIXINS
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin heroHombre($args...) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,67727a+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  $args); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  $args); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  $args); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#67727a',GradientType=0 ); /* IE6-9 */
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}