//VARIABLES
$tablet-width: 768px;
$desktop-width: 1024px;

//Colors
$orangeRed : #d75c37;
$darkBlue : #344652;
$footerBlue : #324450;
$medBlue : #6991ac;
$lightBlue : #c3d7df;
$darkGray : #67727a;
$medGray : #8c999f;
$lightGray : #e5e5e5;
$white : #fff;

$fontFamily : 'Open Sans', Arial, sans-serif;