/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "variables";
@import "mixins";

html {
	background: $white;
	margin: 0 auto;
	font: 14px $fontFamily;
	@include tablet {
		font-size: 16px;
	}
	@include desktop {
		font-size: 16px;
	}
}

h1 {
    color: $darkBlue;
    font:700 3rem/1em $fontFamily;
    margin-bottom: 30px;
}
h2 {
    color: $darkBlue;
    font:600 2rem/1.5em $fontFamily;
	margin: 0 0 1rem;
	#posts-wrap & {
		font-size: 1.5rem;
		margin-bottom: 0.25rem;

	}
	a {
		color: $footerBlue;
	}
}
h3 {
	color: $medBlue;
	font:700 2rem/2.5rem $fontFamily;
	#hero & {
		font-size: 2.5rem;
		font-weight: 300;
		background: $lightBlue;
		padding:0.5rem;
	}
}
h4 {
	color: $medGray;
	font:300 1.25rem/1rem $fontFamily;
	background: $lightGray;
	text-align: right;
	padding:0 0.5rem;

	#comments & {
		text-align: left;
	}
}
h5 {
	color: $darkGray;
	font: 1rem/1.5em $fontFamily;
	margin-bottom: 1.25rem;
	
	#homepage-x & {
		font:700 1.3rem/1.1em $fontFamily;
		margin-bottom: 0.25rem;
		a {
			color: $darkBlue;
		}
	}
}
h6 {
	color: $lightBlue;
	font:0.75rem $fontFamily;
	#content-main & {
		color: $medBlue;
	}
}
p {
	color: $medGray;
	font: 1rem/1.5em $fontFamily;
	margin-bottom: 1.25rem;
}
a {
	color: orangeRed;
	@include transition(all 500ms ease-in-out);

	&:hover {
		color:$darkBlue;
		text-decoration: none;
	}
	&:active, &:visited, &:focus {
		background: none;
		text-decoration: none;
	}
	.shared-login-links & {
		color: $medBlue;
		font-size: 1.25rem;

		&:hover {
			color: $darkBlue;
		}
	}
}
* {
	img {
		max-width: 100%;
		display: block;
	}
}
/******************************/
.icon-bar {
    background-color: $darkBlue;
    box-shadow: 1px 1px 1px $white;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 8px;

    #homepage & {
    	height:10px;
    	width:100%;
    }
}
nav {
	&.navbar-default {
	    background: $darkGray;
	    padding: 1.5rem 0;

		.navbar-nav > li > a {
			color: $lightGray;
			font: 1.25rem/5rem $fontFamily;
			display: inline-block;
			padding: 0 0 0 2rem;
			@include transition(all 500ms ease-in-out);

			&:focus, &:hover, &:hover + .fa {
				background: none;
				color:$medGray;
				@include transition(all 500ms ease-in-out);
			}
		}
		.fa {
			color: $lightGray;
			font-size: 1.125rem;
			@include transition(all 500ms ease-in-out);
		}
	}
}
#homepage-navigation {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;

	ul.navbar-nav {
	    width: 100%;

	    li {
		    display: block;
		    width: 100%;
		    text-align: center;
		}
	}
	a {
		color: $lightGray;
		font:700 2.5rem/5.5rem $fontFamily;
		display: inline;

		&:hover, &:focus, &:hover + .fa {
			color:$lightBlue;
			background:none;
			@include transition(all 500ms ease-in-out);
		}
	}
    .fa {
    	font-size: 2.75rem;
    	color: $lightGray;
    	@include transition(all 500ms ease-in-out);
    }
    div#navbar-collapse-home {
	    position: absolute;
	    z-index: 13;
	    top: 0;
	    right: 0;
	    left: 0;
	    margin: 0 auto;
	    width: 100%;
	    height: 100%;
		background: rgba(78,101,115,0.75);

		li:first-of-type {
			padding-top: 5%;
		}
	}
}
#logo-wrap-home {
	position: absolute;
    z-index: 9;
    width: 72%;
    top: -5%;
    margin: 0 auto;
    right: 0;
    @include desktop {
    	top:auto;
    	bottom: 10%;
    	left: 0;
    }
}
#homepage-x {
    margin: 4rem 0 2.5rem;
    .icon-wrap {
    	width: 20%;
    	float: left;
    	padding-top: 4%;
    }
    .text-wrap {
    	width: 70%;
    	margin-left: 20px;
    	float:left;
    }
    .blog-img img {
    	border:1px solid $lightGray;
    }
}
.container-fluid {
	margin: 0 auto;
	padding:0;

	&#hero {
		background: image-url("bg-hero.jpg") center top;
		background-size: cover;
		position: relative;

		#hero-hombre {
			@include heroHombre(rgba(30,87,153,0) 0%, rgba(52,70,82,1) 100%);
		}
		.row-fluid {
			max-width: 1600px;
		}
		#hero-cta {
			padding-top:2%;
			.fa-play {
			    color: $lightGray;
			    font-size: 6rem;
			    @include transition(all 500ms ease-in-out);

			    &:hover {
			    	color:$lightBlue;
			    }
			}
		}
		button#home-nav-btn {
		    background: none;
		    border: none;
		    width: 5.5rem;
		    position: relative;
		    margin-top:3%;
		    top: 10%;
		    z-index: 100;

		    @include tablet {
		    	position: absolute;
		    	left: 16%;
		    	width: 6rem;
		    }
		    @include desktop {
		    	position: absolute;
		    	left: 16%;
		    	width: 6rem;
		    }
			
			.icon-bar {
				background-color: $darkBlue;
			    box-shadow: 1px 1px 1px $white;
			    display: block;
			    width:100%;
			    height: 8px;
			    border-radius: 1px;
			    margin-bottom: 8px;
    		}
    		&[aria-expanded="false"] .icon-bar {
    			background-color: $darkBlue;
    		}
    		&[aria-expanded="true"] .icon-bar {
    			background-color: $lightGray;
    			box-shadow: 1px 1px 1px $darkBlue;
    		}
    	}
    	#headline {
    		padding: 25% 0;
    		z-index: 12;
    		@include tablet {
    			padding: 8% 0;
    		}
    		@include desktop {
    			padding: 8% 0;
    		}
    	}
	}

	&#content-main {
		padding-bottom: 2rem;
	}

	&#x-marketing {
		background: $medGray;
		padding:3rem 0;
		margin-bottom: 3rem;
		p {
			color: $lightGray;
		}
	}
}
.cta {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: $white;
	font:1.5rem $fontFamily;
	background: $orangeRed;
	padding: 0.75rem 0;
	@include transition(all 500ms ease-in-out);

	.fa {
		padding-left: 0.5rem;
		font-size: 1rem;
	}
	#homepage-x & {
		font-size: 1rem;
		padding: 0.25rem 1.5rem;
	}
	&:hover {
		opacity: 0.7;
		color: $lightGray;
	}

	@include desktop {
		width: auto;
		padding: 0.75rem 3rem;
	}
	#posts-wrap & {
		font-size: 1rem;
	    padding: 3px 0px;
	    width: 100%;
	}
}
footer {
	background: $footerBlue;
	padding: 2rem 0;

	.nav {

		a {
			color: $white;
			font:1.25rem $fontFamily;
			display: inline;
			&:hover {
				background: none;
				color: $lightBlue;
			}
			&:hover + .fa {
				color:$lightBlue;
				@include transition(all 500ms ease-in-out);
			}
		}
		li:first-of-type a {
			padding-left:0;
		}
		li:last-of-type a {
			padding-right:0;
		}
		.fa {
			font-size: 1rem;
		}
	}
	.fa {
		display: inline;
		color: $white;
		font-size: 2rem;
    	margin-left: 0.5rem;
    	@include transition(all 500ms ease-in-out);

    	&:hover {
    		color: $lightBlue;
    	}
	}
	#footer-wrap {
		padding-bottom: 1rem;
	}
	#copyright {
		border-top: 2px solid $medGray;
		padding-top: 0.75rem;
	}
}
/*FORMS*/
.user_remember_me, .form-inputs label {
	@extend %visuallyhidden;
}
.form-inputs input, .form-inputs textarea {
    width: 100%;
    display: block;
    padding: 15px;
    font: 400 1.5rem $fontFamily;
    margin-top: 1.5rem;
    border: 1px solid $lightGray;
}
input.btn.cta {
    border-radius: 0px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.alert.alert-info {
	position: fixed;
	z-index: 101;
	width: 100%;
	margin: 0 auto;
	top: 0;
	right: 0;
	left: 0;
}
/*COMMENTS*/
.comment {
    border: 1px solid $medGray;
    padding: 2%;
    margin-bottom: 2%;
}
#posts-wrap {
	.post-strip {
		margin-bottom: 2%;
	}
	.post-info {
		border: 1px solid $lightGray;
		border-left: 0px;
		&:first-of-type {
			border-left: 1px;
		}
	}
	.post-link {
		float: left;
		width: 100px;
		margin-bottom: 0 auto;
		padding:0px;
	}
	p {
		margin: 0;
	    padding: 3px 0;
	    line-height: 1.4rem;
	    a {
	    	color: $medGray;
	    	margin-bottom: 1%;
    		display: block;
	    }
	}
}
#new-thread-btn {
	padding: 3% 0;
}
/*BLOG*/
summary {
	color: $medGray;
	font:italic 1.5rem/1.5em $fontFamily;
	margin-bottom: 1.25rem;
}
.blog-image-wrap {
	margin: 0 0 1.5rem 1.5rem;
}